<%= form_for @profile do |f| %>
<div class="pink-text text">
  <div class="row">
    <div class="col s6 push-s3">
      <div class="card-panel white">
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">account_circle</i>
            <%= f.label :name, "Nombre" %>
            <%= f.text_field :name %>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">account_circle</i>
            <%= f.label :last_name, "Apellido" %>
            <%= f.text_field :last_name %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">work</i>
            <%= f.label :occupation, "Ocupación" %>
            <%= f.text_field :occupation %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">mode_edit</i>
            <%= f.label :biography, "Cuentanos sobre ti" %>
            <%= f.text_area :biography, class:"materialize-textarea" %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">cake</i>
            <%= f.label :birth_date, "Fecha de Nacimiento" %>
            <%= f.text_field :birth_date, class: "datepicker"%>
          </div>
          <div class="input-field col s6">
            <%= f.select(:blood_type, ['O+','O-','A+','A-','B+','B-','AB+','AB-'], label:"Tipo De Sangre")%>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">place</i>
            <%= f.label :country, "Pais" %>
            <%= f.text_field :country %>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">place</i>
            <%= f.label :city, "Ciudad" %>
            <%= f.text_field :city %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">phone</i>
            <%= f.label :phone_number, "Numero de Teléfono" %>
            <%= f.text_field :phone_number %>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">smartphone</i>
            <%= f.label :cell_phone, "Celular" %>
            <%= f.text_field :cell_phone %>
          </div>
        </div>
        <div class="row">
          <div class="input field col s12 center">
            <i class="material-icons prefix">mood</i>
            <%= f.label :image, "Foto de Perfil" %>
            <%= f.file_field :image, class: 'form-control'%>
          </div>
        </div>
        <div class="row">
          <div class="input field col s12 center">
            <i class="material-icons prefix">mood</i>
            <%= f.label :landscape, "Foto de Fondo" %>
            <%= f.file_field :landscape, class: 'form-control'%>
          </div>
        </div>

        <div class="row">
          <div class="col s12 center">
            <%= f.submit "Aceptar", class:"btn pink" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% end %>
</div>


<script>
$(document).ready(function() {
   $('select').material_select();
   $('.datepicker').pickadate({
       selectMonths: true, // Creates a dropdown to control month
       selectYears: 300 // Creates a dropdown of 116 years to control year
     });
 });
</script>
