<body>
  <%if current_user.profile == nil %>
  <div class="container">
    <div class="col s6 push-s3 center">
    </br>
      <%= image_tag("social-3.png", :alt=>"social", size:"150x150")%>
    </br>
      <h3> Todavía no has creado un perfil. Personaliza tu espacio haciendo click en Crear Perfil </h3>
      <%= link_to 'Crear mi perfil', new_profile_path, class:"btn pink" %>
    </div>
  </div>
  <%else%>
  <% @profiles.each do |profile| %>
  <%if current_user.id == profile.user_id %>
</br>
<div class="row">
  <div class="col s12">
    <div class="card" style="height:500px">
      <div class="card-image waves-effect waves-block waves-light">
        <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
        <%= image_tag profile.landscape.url(:regular), class:"activator"%>
      </div>
      <div class="card-content">
        <div class="row">
          <div class="col s3 center">
            <a href="#"><%= image_tag profile.image.url(:small), class:"circle z-depth-3 modal-trigger", href:"#modal1"%></a>
          </div>
          <div class="col s3 center">
            <h5 class="pink-text text"><%=profile.name%> <%=profile.last_name%></h5>
            <h6 class="pink-text text-lighten-2"><%=profile.occupation%><h6>
            </div>
            <div class="col s3 center">
              <h5 class="pink-text text"><%=profile.blood_type%></h5>
              <h6 class="pink-text text-lighten-2">Tipo de Sangre</h6>
            </div>
            <div class="col s3 center">
              <h5 class="pink-text text"><%=profile.city%>,<%=profile.country%></h5>
              <h6 class="pink-text text-lighten-2">Residencia</h6>
            </br></br>
            <%= link_to 'Editar Mi Perfil', edit_profile_path(profile), class:"btn pink"%>
          </div>
        </div>
      </div>
      <div class="card-reveal pink-text text">
        <div class="row">
          <span class="card-title"><i class="material-icons right">close</i></span>
          <h3><%= profile.name %> <%= profile.last_name%></h3></br>
          <h5><i class="material-icons">work</i><%=profile.occupation%></h5></br>
          <h5><i class="material-icons">phone</i> <%=profile.phone_number%> | <i class="material-icons">stay_current_portrait</i> <%=profile.cell_phone%></h5></br>
          <h5><i class="material-icons">email</i> <%=current_user.email%></h5></br>
          <h5><i class="material-icons">cake</i> <%=profile.birth_date%> </h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s4">
    <div class="card-panel white">
      <span class="pink-text">
        <h5>Acerca de Mi</h5><hr>
        <%=profile.biography%>
        <hr>
        Joined on: <%= current_user.created_at.to_date.to_formatted_s :long_ordinal %>
      </span>
    </div>
  </div>

  <div class="col s8">
    <div class="card-panel white">
      <span class="pink-text text">
        <%= form_for(Post.new) do |f| %>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">mode_edit</i>
            <%= f.label :body, "Escribe un post" %>
            <%= f.text_area :body, class:"materialize-textarea" %>
          </div>
        </div>
        <div class="row">
          <div class="col s12 center">
            <%= f.submit "Aceptar", class:"btn pink" %>
          </div>
        </div>
        <%end%>
      </span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s8 push-s4">
    <h4 class="pink-text text">Posts</h4>
    <ul class="collection">
    <% @posts.each do |post| %>
      <% if post.user_id == current_user.id %>
        <li class="collection-item avatar">
          <%=image_tag profile.image.url(:mini), class:"circle z-depth-3"%>
          <span class="title"><%= link_to profile.name,profile_path(profile)%></span>
          <p><p class="grey-text text-lighten-1"><%=time_ago_in_words(post.created_at)%> ago</p><br>
             <%=post.body%>
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons">clear</i></a>
        </li>
      <%end%>
    <%end%>
    </ul>
  </div>
</div>


<div id="modal1" class="modal", style="height:600px">
  <div class="modal-content center">
    <%=image_tag profile.image.url(:preview)%>
  </div>
</div>
<% end %>
<% end %>
<% end %>
</body>
