<body class="pink">
  <%if current_user.profile == nil %>
  <h1>You are missing a Profile </h1>
  <td><%= link_to 'Create Profile', new_profile_path %></td>
  <%else%>
  <% @profiles.each do |profile| %>
  <%if current_user.id == profile.user_id %>
</br>
<div class="row">
  <div class="col s12">
    <div class="card" style="height:500px">
      <div class="card-image waves-effect waves-block waves-light">
        <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
        <%= image_tag profile.landscape.url(:regular), class:"activator"%>
      </div>
      <div class="card-content">
        <div class="row">
          <div class="col s3 center">
            <%= image_tag profile.image.url(:small), class:"circle"%>
          </div>
          <div class="col s3 center">
            <%=profile.name%> <%=profile.last_name%>
            <%=profile.occupation%>
          </div>
          <div class="col s3 center">
            <%=profile.blood_type%></br>
            Blood Group
          </div>
          <div class="col s3 center">
            From: </br><%=profile.city%>, <%=profile.country%>
          </div>
        </div>
      </div>
<div class="card-reveal">
  <div class="row">
    <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
    <h5><%= profile.name %> <%= profile.last_name%></h5>
    <p><i class="material-icons">work</i><%=profile.occupation%></p>
    <p><i class="material-icons">phone</i> <%=profile.phone_number%> | <i class="material-icons">stay_current_portrait</i> <%=profile.cell_phone%></p>
    <p><i class="material-icons">email</i> <%=current_user.email%></p>
    <p><i class="material-icons">cake</i> <%=profile.birth_date%>
    </div>
  </div>
</div>
</div>
</div>

<div class="row">
  <div class="col s4">
    <div class="card-panel white">
      <span class="pink-text">
        <h5>Acerca de Mi</h5><hr>
        <%=profile.biography%>
        <hr>
        Joined on: <%= current_user.created_at.to_date.to_formatted_s :long_ordinal %>
      </span>
    </div>
  </div>

  <div class="col s8">
    <div class="card-panel white">
      <span class="pink-text text">
        <h4>Posts</h4>
      </span>
    </div>
  </div>
</div>
<% end %>
<% end %>
<% end %>
</body>
