<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>
      <ul>
      <% @request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col s8 push-s2">
      <div class="card white">
        <div class="card-content pink-text">
          <div class="row">
            <div class="input-field col s8">
              <i class="material-icons prefix">person</i>
              <%= f.label :name, "Nombre Del Solicitante" %><br>
              <%= f.text_field :name, class:"validate" %>
            </div>
            <div class="input-field col s4">
              <i class="material-icons prefix">lens</i>
              <%= f.label :needed_for, "Sangre necesitada para:" %><br>
              <%= f.select(:needed_for, ['Mi mismo','Otra persona']) %>
            </div>
          </div>
          <div class="row">
            <div class="input-field">
              <i class="material-icons prefix">phone</i>
              <%= f.label :phone_number, "Numero De Teléfono" %><br>
              <%= f.text_field :phone_number %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s4">
              <i class="material-icons prefix">exposure_plus_1</i>
              <%= f.label :blood_units_needed, "No. de Pintas Necesitadas" %><br>
              <%= f.text_field :blood_units_needed %>
            </div>
            <div class="input-field col s4">
              <i class="material-icons prefix">colorize</i>
              <%= f.label :blood_type_needed, "Tipo de Sangre Necesitado" %><br>
              <%= f.select(:blood_type_needed, ['O+','O-','A+','A-','B+','B-','AB+','AB-']) %>
            </div>
            <div class="input-field col s4">
              <i class="material-icons prefix">insert_invitation</i>
              <%= f.label :date_needed, "Fecha Requerida" %><br>
              <%= f.text_field :date_needed, class: "datepicker" %>
            </div>
          </div>
          <div class="row">
            <div class="input-field">
              <i class="material-icons prefix">message</i>
              <%= f.label :message, "Cuentanos tu historia" %><br>
              <%= f.text_area :message, class:"materialize-textarea" %>
            </div>
          </div>
          <div class="row">
            <div class="actions center">
            </br>
              <%= f.submit 'Ingresar Solicitud', class:"pink btn" %>
            </div>
          </div>
        </div>
        <div class="card-action">
            <%= link_to 'Regresar', requests_path, class:"pink-text text"%>
        </div>
      </div>
    </div>
  </div>
<% end %>
