<p id="notice"><%= notice %></p>

<h3 class="center pink-text text">Solicitudes de Sangre</h3>

<div class="container pink-text text">
      <ul class="collapsible popout" data-collapsible="accordion">
      <% @requests.each do |request| %>
        <li>
          <div class="collapsible-header"><i class="material-icons">favorite</i> Solicitud de Sangre hecha por: <%=request.name%>
            <% if current_user.id == request.user_id %>
              <div class="right">
                <%= link_to 'Editar', edit_request_path(request), class:"pink-text text" %>
                <%= link_to 'Eliminar', request, method: :delete, data: { confirm: 'Are you sure?' }, class:"pink-text text" %>
              </div>
            <% end %>
          </div>
          <div class="collapsible-body">
            <div class="container">
            </br>
              <ul>
                <li><i class="material-icons prefix">person</i> <strong>Nombre del Solicitante: </strong> <%=request.name%></li>
                <li><i class="material-icons prefix">phone</i>  <strong>Telefono del Solicitante: </strong> <%=request.phone_number%></li>
                <li><i class="material-icons prefix">mail</i>   <strong>Email del Solicitante: </strong> <%=request.email%></li>
                <li><i class="material-icons prefix">lens</i>   <strong>Tipo de Solicitud: </strong> <%=request.needed_for%></li>
                <li><i class="material-icons prefix">colorize</i>  <strong>Tipo de Sangre Necesitado: </strong> <%=request.blood_type_needed%></li>
                <li><i class="material-icons prefix">exposure_plus_1</i>  <strong>Pintas de Sangre Necesitadas: </strong> <%=request.blood_units_needed%></li>
                <li><i class="material-icons prefix">insert_invitation</i>  <strong>Fecha Requerida: </strong> <%=request.date_needed%></li>
                <li><i class="material-icons prefix">favorite_border </i><strong>Tipos de Sangre Compatibles: </strong> <%=request.compatible_blood_types%></li>
                <li><i class="material-icons prefix">message </i><strong>Historia: </strong> </br><%=request.message%></li>
              </ul>
            </br>
            </div>
          </div>
        </li>
      <% end %>
      </ul>
</div>
<br>
