<h3 class="pink-text text center">Solicitud de Sangre</h3>

<div class="container">
  <p>
    <strong class="pink-text text">Nombre de Contacto:</strong>
    <%= @request.name %>
  </p>

  <p>
    <strong class="pink-text text">Teléfono de Contacto:</strong>
    <%= @request.phone_number %>
  </p>

  <p>
    <strong class="pink-text text">Email:</strong>
    <%= @request.email %>
  </p>

  <p>
    <strong class="pink-text text">Se necesita para:</strong>
    <%= @request.needed_for %>
  </p>

  <p>
    <strong class="pink-text text">Tipo de sangre solicitado:</strong>
    <%= @request.blood_type_needed %>
  </p>

  <p>
    <strong class="pink-text text">Pintas de Sangre necesitadas:</strong>
    <%= @request.blood_units_needed %>
  </p>

  <p>
    <strong class="pink-text text">Fecha requerida:</strong>
    <%= @request.date_needed %>
  </p>

  <p>
    <strong class="pink-text text">Tipos de Sangre Compatibles:</strong>
    <%= @request.compatible_blood_types %>
  </p>

  <p>
    <strong class="pink-text text">Mensaje:</strong>
    <%= @request.message %>
  </p>
  <%= link_to 'Regresar', requests_path, class:"btn pink" %>
</div>
