<% if controller_name == "pages" && !user_signed_in?%>
<nav>
  <div class="grey lighten-5 nav-wrapper">
    <a href="#!" class="brand-logo" style="margin-left:50px;"><%= image_tag("BleedMe_Landscape.png", :alt => "logo", size:"170x60") %></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to 'Inicio', root_path, class:"pink-text text"%></li>
      <li><%= link_to 'Conócenos', about_path, class:"pink-text text"%></li>
      <li><%= link_to 'Donaciones', donations_path, class:"pink-text text"%></li>
      <li><%= link_to 'Noticias y Campañas', news_path, class:"pink-text text"%></li>
      <li><%= link_to 'Contáctenos', contact_path, class:"pink-text text"%></li>
      <li><%= link_to 'Iniciar Sesion', new_user_session_path, class:"pink"%></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><%= link_to 'Inicio', root_path%></li>
      <li><%= link_to 'Conócenos', root_path%></li>
      <li><%= link_to 'Donaciones', donations_path%></li>
      <li><%= link_to 'Noticias y Campañas', news_path%></li>
      <li><%= link_to 'Contáctenos', contact_path%></li>
      <li><%= link_to 'Iniciar Sesion', new_user_session_path, class:"pink"%></li>
    </ul>
  </div>
</nav>
<% elsif user_signed_in? %>
<ul id="dropdown1" class="dropdown-content">
  <li><a href="requests#index">Ver lista</a></li>
  <li><a href="requests#new">Crear nueva solicitud</a></li>
  <li class="divider"></li>
</ul>
  <nav>
    <div class="light-blue nav-wrapper">
      <a href="#" class="brand-logo center">BleedMe</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="#">Timeline</a></li>
        <li><a href="#">Notificaciones</a></li>
        <li><a href="#">Mensajes</a></li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Campañas</a></li>
        <li><a class="dropdown-button" data-activates="dropdown1">Solicitudes de donación<i class="material-icons right">arrow_drop_down</i></a></li>

        <li><%= link_to "Mi Perfil", profiles_path %></li>
        <li><a href="#">Post</a></li>
        <li><%= link_to('Logout', destroy_user_session_path, :method => :delete, class:"lime") %></li>
      </ul>
    </div>
  </nav>
<%end%>
