<% if controller_name == "pages" && !user_signed_in?%>
<nav>
  <div class="grey lighten-5 nav-wrapper">
    <a href="#!" class="brand-logo" style="margin-left:50px;"><%= image_tag("BleedMe_Landscape.png", :alt => "logo", size:"170x60") %></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to 'Inicio', root_path, class:"pink-text text"%></li>
      <li><%= link_to 'Conócenos', about_path, class:"pink-text text"%></li>
      <li><%= link_to 'Donaciones', donations_path, class:"pink-text text"%></li>
      <li><%= link_to 'Noticias y Campañas', news_path, class:"pink-text text"%></li>
      <li><%= link_to 'Contáctenos', contact_path, class:"pink-text text"%></li>
      <li><%= link_to 'Iniciar Sesion', new_user_session_path, class:"pink"%></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><%= link_to 'Inicio', root_path%></li>
      <li><%= link_to 'Conócenos', root_path%></li>
      <li><%= link_to 'Donaciones', donations_path%></li>
      <li><%= link_to 'Noticias y Campañas', news_path%></li>
      <li><%= link_to 'Contáctenos', contact_path%></li>
      <li><%= link_to 'Iniciar Sesion', new_user_session_path, class:"pink"%></li>
    </ul>
  </div>
</nav>
<% elsif user_signed_in? %>
<ul id="dropdown1" class="dropdown-content">
  <li><%=link_to 'Ver Solicitudes', requests_path, class:"pink-text text"%></li>
  <li><%=link_to 'Nueva Solicitud', new_request_path, class:"pink-text text"%></li>
  <li class="divider"></li>
</ul>
<nav>
  <div class="grey lighten-5 nav-wrapper">
    <a href="#!" class="brand-logo" style="margin-left:50px;"><%= image_tag("BleedMe_Landscape.png", :alt => "logo", size:"170x60") %></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to 'Timeline', posts_path, class:"pink-text text"%></li>
      <li><a class="dropdown-button pink-text text" data-activates="dropdown1">Solicitudes de Sangre<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a class="pink-text text modal-trigger" href="#modal1">Crear un Post</a></li>
      <li><%= link_to 'Mi Perfil', profiles_path, class:"pink-text text"%></li>
      <li><%= link_to('Cerrar Sesion', destroy_user_session_path, :method => :delete, class:"pink") %></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><%= link_to 'Timeline', root_path, class:"pink-text text"%></li>
      <li><%= link_to 'Solicitudes de Sangre', about_path, class:"pink-text text"%></li>
      <li><%= link_to 'Crear un Post', news_path, class:"pink-text text"%></li>
      <li><%= link_to 'Mi Perfil', profiles_path, class:"pink-text text"%></li>
      <li><%= link_to('Cerrar Sesion', destroy_user_session_path, :method => :delete, class:"pink") %></li>
    </ul>
  </div>
</nav>
<%end%>

<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Nuevo Post</h4>
    <%= form_for(Post.new) do |f| %>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">mode_edit</i>
        <%= f.label :body, "Escribe un post" %>
        <%= f.text_area :body, class:"materialize-textarea" %>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center">
        <%= f.submit "Aceptar", class:"btn pink modal-action modal-close" %>
      </div>
    </div>
    <%end%>
  </div>
</div>
